{% extends 'blog/base.html' %}
{% load static %}

{% block metas %}
    <meta name="description" content="linux,运维，linux运维，python,python开发">
    <meta name="keywords" content="linux,运维，linux运维，python,python开发">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
            <div class="card rounded-0 border-0 p-3 f-16">
                {%  for o in obj %}
                <h2 class="font-weight-bold">{{ o.name }}</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <p>
                  {{ o.description }}
                </p>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}